<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
        package="com.aware.plugin.poirecommender">

    <!--suppress AndroidDomInspection -->
    <uses-permission tools:node="removeAll"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="com.aware.READ_CONTEXT_DATA"/>
    <uses-permission android:name="com.aware.WRITE_CONTEXT_DATA"/>

    <uses-permission android:name="com.aware.context.provider.context.READ"/>
    <uses-permission android:name="com.aware.context.provider.context.WRITE"/>
    <uses-permission android:name="com.aware.poirecommender.MANAGE_POIRECOMMENDER_DATA"/>

    <uses-feature tools:node="removeAll"/>

    <application
            android:name=".application.PoiRecommenderApplication"
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@drawable/ic_poirecommender"
            tools:node="replace">

        <service
            android:name=".Plugin"
            android:exported="true"
            android:label="@string/app_name"
            />

        <activity
            android:name=".Settings"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            />

        <service
            android:name="com.aware.poirecommender.service.PoiRecommenderService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="com.aware.poirecommender.MANAGE_POIRECOMMENDER_DATA">
            <intent-filter>
                <action android:name="com.aware.poirecommender.service.PoiRecommenderService.ACTION_STORE_POI_WITH_CONTEXT"/>
            </intent-filter>
        </service>

        <provider
            android:authorities="com.aware.context.provider.context"
            android:name="com.aware.context.provider.ContextProvider"
            android:exported="true"
            android:label="@string/context_provider_label"
            android:readPermission="com.aware.context.provider.context.READ"
            android:writePermission="com.aware.context.provider.context.WRITE"
            />

        <provider
            android:authorities="com.aware.poirecommender.provider.poirecommender"
            android:name="com.aware.poirecommender.provider.PoiRecommenderProvider"
            android:exported="false"
            android:label="@string/poirecommender_provider_label"
            />

        <!-- AWARE -->
        <service
            android:name="com.aware.utils.WebserviceHelper"
            android:exported="true" >
            <intent-filter>
                <action android:name="ACTION_AWARE_WEBSERVICE_SYNC_TABLE" />
                <action android:name="ACTION_AWARE_WEBSERVICE_CLEAR_TABLE" />
            </intent-filter>
        </service>
    </application>

</manifest>
