<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
        package="com.aware.plugin.poirecommender">

    <permission
        android:name="com.aware.plugin.poirecommender.MANAGE_POIRECOMMENDER_DATA"
        android:description="@string/manage_poirecommender_data_permission_description"
        android:icon="@drawable/ic_context"
        android:label="@string/manage_poirecommender_data_permission_label"
        android:protectionLevel="dangerous"
        />

    <!--suppress AndroidDomInspection -->
    <uses-permission tools:node="removeAll"/>
    <uses-permission android:name="com.aware.WRITE_CONTEXT_DATA"/>
    <uses-permission android:name="com.aware.READ_CONTEXT_DATA"/>

    <uses-permission android:name="com.aware.plugin.poirecommender.MANAGE_POIRECOMMENDER_DATA"/>
    <uses-permission android:name="com.aware.context.provider.context.READ"/>
    <uses-permission android:name="com.aware.context.provider.context.WRITE"/>

    <uses-feature tools:node="removeAll"/>

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@drawable/ic_context"
            tools:node="replace">

        <service
            android:name=".Plugin"
            android:exported="true"
            android:label="@string/app_name"
            />

        <activity
            android:name=".Settings"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            />

        <service
            android:name="com.aware.context.service.ContextService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="com.aware.plugin.poirecommender.MANAGE_POIRECOMMENDER_DATA"
            />

        <provider
            android:authorities="com.aware.context.provider.context"
            android:name="com.aware.context.provider.ContextProvider"
            android:exported="true"
            android:label="@string/context_provider_label"
            android:readPermission="com.aware.context.provider.context.READ"
            android:writePermission="com.aware.context.provider.context.WRITE"
            />

        <provider
            android:authorities="com.aware.plugin.poirecommender.provider.poirecommender"
            android:name=".provider.ContextHistoryProvider"
            android:exported="false"
            android:label="@string/poirecommender_provider_label"
            />

    </application>

</manifest>
